/* styles.css */

@font-face {
    font-family: 'MoonGetHeavy';
    src: url('fonts/moon_get-Heavy.otf') format('opentype');
  }
  
@font-face {
    font-family: 'RoseHot';
    src: url('fonts/Rosehot.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-image: url("images/bgs/grey-texture-bg.jpg");
    background-size: cover;
    background-position: center;
}

li, a {
    font-family: 'RoseHot', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 3%;
    z-index: 100;
    transition: background-color 0.8s ease;
}

.logo {
    cursor: pointer;
    max-height: 30px;
    margin-right: auto;
    margin-top: auto;
}

.nav__links {
    list-style: none;
    background-color: transparent;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #d1d1d1;
}

.title-text {
    position: absolute;
    font-family: "Roboto Serif", serif;
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: 34px;
    z-index: 1;
    top: 27%;
    left: 58.6%;
    line-height: 28px;
}

.down-arrow {
    position: absolute;
    color: #ffffff;
    top: 46.5%;
    left: 71%;
    width: 40px;
    z-index: 1;
    animation: animate 2s infinite;
}

@keyframes animate {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}

.parallax img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background-color: #ffffff;
    padding-top: 200px;
    padding-bottom: 200px;
    z-index: 2;
    text-align: center;
    
}

.sec p {
    margin-left: 650px;
}

#first-text {
    font-family: "Roboto Serif", serif;
    font-size: 30px;
    color: #000000;
    margin-bottom: 25px;
}

#second-text {
    font-family: "Roboto Serif", serif;
    font-size: 15px;
    color: #000000;
    margin-bottom: 25px;
}

#resume-tokenized {
    position: relative;
    bottom: 63vh;
    width: 100%;
    z-index: 10;
    pointer-events: none;  
}

.hidden {
    display: none;
  }

header.black-background {
    background-color: black;
  }
  


  
  