/* styles.css */

@font-face {
    font-family: 'MoonGetHeavy';
    src: url('fonts/moon_get-Heavy.otf') format('opentype');
  }
  
@font-face {
    font-family: 'RoseHot';
    src: url('fonts/Rosehot.ttf') format('truetype');
}

.roboto-serif {
    font-family: "Roboto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "GRAD" 0;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    min-height: 100vh;
}

li, a, button {
    font-family: 'RoseHot', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 7px 3%;
    z-index: 100;
}

.logo {
    cursor: pointer;
    max-height: 100px;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #d1d1d1;
}

button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #000000;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 100vh;
}

.title-text {
    position: absolute;
    font-family: "Roboto Serif", serif;
    color: black;
    text-align: right;
    font-size: 28px;
    z-index: 1;
    top: 37%;
    left: 58.6%;
    line-height: 24px;
    /* transform: translate(-50%, -50%); */
}

.parallax img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

  
  