<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth with Google</title>
</head>
<body>
    <h1>OAuth with Google</h1>
    <p>Click the button below to authorize with Google:</p>
    <a href="{{ oauth_link }}">Authorize with Google</a>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth with Google</title>
</head>
<body>
    <h1>OAuth with Google</h1>
    <p>Click the button below to authorize with Google:</p>
    <a href="https://accounts.google.com/o/oauth2/auth?client_id=1083267012795-ibvu42c1pndrf99burjop50rajtcj447.apps.googleusercontent.com&redirect_uri=https://elena-rangelov.github.io/Bitcamp_2024/login.html&response_type=code&scope=https://www.googleapis.com/auth/calendar&access_type=offline&prompt=consent">Authorize with Google</a>
</body>
</html>